.back-to-top{
    position:fixed;
    bottom:30px;
    right:30px;

    width:55px;
    height:55px;

    border:none;
    border-radius:50%;

    background:#38bdf8;
    color:white;

    font-size:24px;
    cursor:pointer;

    box-shadow:0 8px 20px rgba(56,189,248,0.4);

    transition:0.3s ease;

    z-index:1000;
}

.back-to-top:hover{
    background:#0ea5e9;
    transform:translateY(-5px) scale(1.05);
}