/* ===========================
   NAVBAR
=========================== */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    background: rgba(11,17,32,0.95);
    backdrop-filter: blur(10px);

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 80px;
    box-sizing:border-box;
}

/* ===========================
   LOGO
=========================== */

.logo{
    color:white;
    font-size:30px;
    font-weight:bold;
    margin:0;
}

/* ===========================
   HAMBURGER
=========================== */

.menu-icon{
    display:none;
    font-size:30px;
    color:white;
    cursor:pointer;
}

/* ===========================
   NAV LINKS
=========================== */

.nav-links{
    display:flex;
    list-style:none;
    gap:40px;
    margin:0;
    padding:0;
}

.nav-links li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    position:relative;
    transition:0.3s;
}

/* Underline Animation */

.nav-links li a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;

    width:0;
    height:2px;

    background:#38bdf8;
    transition:0.3s;
}

.nav-links li a:hover{
    color:#38bdf8;
}

.nav-links li a:hover::after{
    width:100%;
}

/* ===========================
   MOBILE
=========================== */

@media (max-width:768px){

.navbar{
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    box-sizing:border-box;
    overflow:visible;
}

.logo{
    font-size:14px;
    font-weight:700;
    max-width:70%;
}

.menu-icon{
    display:block;
    font-size:30px;
    color:white;
    cursor:pointer;
    flex-shrink:0;
}

.nav-links{
    display:none;
    position:fixed;

    top:60px;
    left:0;

    width:100%;
    height:calc(100vh - 60px);

    background:#0b1120;

    flex-direction:column;
    justify-content:flex-start;
    align-items:center;

    gap:30px;

    padding-top:40px;

    z-index:9999;
}

.nav-links.active{
    display:flex !important;
}
.nav-links li{
    width:100%;
    text-align:center;
}

.nav-links li a{
    display:block;
    padding:10px 0;
    font-size:20px;
}

}